/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    font-size: 18px;
}

.container {
    @apply max-w-xl;
}

.bg {
    background-image: url(/bg.png);
    background-size: cover;
    background-repeat: repeat;
}

.nav-item {
    @apply w-full whitespace-no-wrap inline-flex items-center px-4 py-2 font-medium rounded-full;
}